# Unreal Engine GitIgnore
/Saved/
/Intermediate/
/Binaries/
.idea/
.vsconfig
*.uproject
*.sln
*.suo
*.user
*.csproj
*.vcxproj
*.vcxproj.user
*.pdb
*.log
*.bin
*.exe
*.dll
*.pak
*.uasset
*.umap
*.tlog
*.sdf
*.ipdb
*.ipdb-shm
*.ipdb-wpr
*.scc
.vs/
.vscode/
build/
